#login, #createAccount{
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient( 90deg , gray, black);
}
.create-account, .login{
    width: 450px;
    padding: 20px;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.login .header{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.login .header > img {
    width: 60px;
    height: 60px;
}
 #title, #description{
    text-align: center;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid black;
}
.login label[id="email-label"], .login label[id="password-label"]{
    font-size: 17px;
    margin-bottom: 8px;
}

.create-account label[id="email-label"], .create-account label[id="name-label"], 
.create-account label[id="password-label"], .create-account label[id="surname-label"]{
    font-size: 17px;
    margin-bottom: 8px;
}
.login .loginButton, #createAccountBtn{
    width:100%;
    font-size: 20px;
    padding:10px;
    margin-top:10px;
    border-radius: 3px;
    background-color: green;
    border: 1px solid black;
}
.linkToCreateAccount{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
.login-image{
    height: 135px !important;
    width: 170px !important;
}
@media (max-width: 470px){
    .create-account , .login{
        width: 390px;
    }
    .custom-popup-class{
        width:80%;
        height: 400px
    }
}