.create-account, .login{
    padding: 15px;
    position: absolute;
    top:50px
}
#title, #description{
    text-align: center;
}
form{
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(225, 209, 190);
}
#name-label, #email-label, #surname-label, #password-label{
    display: block;
    margin: 0.5rem 0;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid black;
}
button[type="submit"]{
    width:100%;
    font-size: 20px;
    padding:10px;
    margin-top:10px;
    border-radius: 3px;
    background-color: green;
    border: 1px solid black;
}