
@media (max-width: 470px){
.dashboard{
    width: 90%;
    height: auto; 
    margin: 0 auto;
}
.titles{
    height: 40px;
    width: 100%;
}
.dashboard Button{
    height: 100%;
    width: 25%;
    background-color: black !important;
    border: none;
    color:white;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
}