
.dashboard{
    width: 90%;
    height: auto; 
    margin: 20px auto;
}
.titles{
    height: 60px;
    background-color: red;
    width: 100%;
    margin: 0 auto;
}
.dashboard Button{
    height: 100%;
    width: 25%;
    background-color: black !important;
    border: none;
    color:white;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.goButton{
    width: 45% !important;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

@media (max-width: 470px){
.titles{
    height: 40px;
}
}