#profile{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.profile-img-container{
    height: 150px;
    width: 35%;
    margin: 20px auto;
}
.profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 1px 1px 5px;

    border-radius: 50%;
}
.personal-information{
    background: linear-gradient(90deg, gray, black);
    width: 90%;
    margin: 0px auto;
    padding:10px 20px 20px 20px;
    border-radius: 10px;
    color:white;
}
.personal-information .user-name{
    font-size: 15px;
}
.personal-information blockquote{
    font-size: 13px;
}
.todayDate{
    font-size: 11px;
}
#chincheta{
    width: 30px;
    float:right;
    height: 30px;
    margin-top: -28px;
    margin-right: -35px;
}
  
.dynamic-div {
    transition: height 0.3s ease-in-out;
  }
