
#projects{
    background: linear-gradient(90deg, rgb(97, 96, 96), black);
    height: 100vh;
    width: 100vw
}
.projects-header{
    height: 120px;
    width: 100%;
    background: transparent;
}
.projects-header h1{
    font-size: 60px;
    background: linear-gradient(to right, #9c8b77, #fef0f6); /* Cambia los colores según tus preferencias */
    -webkit-background-clip: text;
    color: transparent; 
}

/* CSS PARA EL PANEL DE LOS PROYECTOS */
#showProjectBoard{
    border-radius:5px;
    background-color: #E5E4E2;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:left;
}

.showTheItems{
    background-color: #f5f4f2;
    border-radius: 5px;
    display: flex;
    max-width:260px;
    min-width: 180px;
    height: 80px;
    padding:10px;
    margin: 10px;
}
.showTheItems span{
    margin: auto;
}
/* CSS for the projects container */
#projects h2{
    width: 30%;
    margin-left: 70px;
    font-size: 40px;
    background: linear-gradient(to right, #9c8b77 5%, #ffffff 95%);
    -webkit-background-clip: text;
    color: transparent;
}
.organizer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}
.organizer-board{
    text-align: center;
    background-color: #E5E4E2;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.organizer-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}
.draggingActive{
    background-color: #f5f4f2;
}
.drag{
    box-shadow: 0 0 5px black;
}
.addCartToOrganizer{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #E5E4E2;
    padding: 25px;
}
.addCartBoard{
    width: 100%;
    display: flex;
    background-color: #E5E4E2;

}
.addCartBoard textarea{
    width: 93%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.addCartBoard textarea:focus{
    outline: none;
}
.addCartActive{
    background-color: rgb(16, 150, 240);
    color: white !important;
}